<%- include('partials/header.ejs') %>
<%- include('partials/navbar.ejs') %>
<div class="container">
    <h2>Clientes</h2>
    <a href="/clientes/new" class="btn btn-success">Inserir Cliente</a>
    <hr>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Nome</th>
                <th>CEP</th>
                <th>Cidade</th>
                <th>UF</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            <% clientes.forEach(cliente => { %>
                <tr>
                    <td><%= cliente.nome %></td>
                    <td><%= cliente.cep %></td>
                    <td><%= cliente.cidade %></td>
                    <td><%= cliente.uf %></td>
                    <td>
                        <a href="/clientes/edit/<%= cliente.id %> " class="btn btn-warning">Editar</a>
                        <form method="post" action="/clientes/delete" style="display: inline"
                            onsubmit="confirmDelete(event,this);">
                            <input type="hidden" name="id" value="<%= cliente.id %>">
                            <button class="btn btn-danger">Deletar</button>
                        </form>
                    </td>
                </tr>
            <% }) %>
        </tbody>
    </table>
</div>
<%- include('partials/footer.ejs') %>
<script>
    function confirmDelete(event, form){
        event.preventDefault();
        var decision = confirm("Você quer deletar este cliente?");
        if(decision){
            form.submit();
        }
    }
    </script>